{% load static %}
<form method="post">
  <script src="{% static 'app.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'change-password-style.css' %}">
    {% csrf_token %}
<button onclick="myFunction()">Change password</button>
<div id="form">
    {{ form }}
</div>
    <button type="submit">Save changes</button>
  </form>
<a href={% url 'onlinebanking' %}>Back</a>
<p>Cuenta registrada a nombre de {{first_name}} {{last_name}}.</p>
<p>La fecha de creación de la cuenta es: {{date_joined}}</p>
<p>El último inicio de sesión fue: {{last_login}}</p>
<P>Account ID: {{accountId}}</P>