<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'DATA/HSBC-logo.png' %}">
    <title>Online Banking | Config</title>
    <link rel="stylesheet" type="text/css" href="{% static 'change-password-style.css' %}">
</head>
<header>
  <div class="header">
  <img class="logo" src={% static 'DATA/HSBC-logo.png' %} alt="HSBC logo">    
  <h1>HSBC</h1>
  <a href={% url 'onlinebanking' %}><img class="logo-return" src={% static 'DATA/logo-return.png' %} alt="config"></a>
  <a href={% url 'logout' %}><img class="logo-logout" src={% static 'DATA/logout.png' %} alt="return"></a>
  </div>
</header>
<body>
  <div id="main">
  <form method="post">
    
    <script src="{% static 'app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'change-password-style.css' %}">
      {% csrf_token %}
    <button onclick="myFunction()">Change password</button>
  
    <div id="form">
      {{ PasswordChange_form }}
      <button type="submit">Save changes</button>
    </div>
      
  </form>

  <p>Cuenta registrada a nombre de {{first_name}} {{last_name}}.</p>
  <p>La fecha de creación de la cuenta es: {{date_joined}}</p>
  <p>El último inicio de sesión fue: {{last_login}}</p>
  <P>Account ID: {{accountId}}</P>
  </div>
</body>
</html>