<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Banking App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index-style.css' %}">
</head>
<body>

    <div class="login">
        <a href="https://www.hsbc.com/"><img class="logo" src={% static 'DATA/HSBC-logo.png' %} alt="HSBC logo"></a>    
        <h1>Account login</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password">

            <input type="submit" value="Log In">
            <a href="">Forgot your username or password?</a><br>
            <a href={% url 'register' %}>I don't have an account</a>
        </form>
    </div>

</body>
</html>