<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'DATA/HSBC-logo.png' %}">
    <title>Online Banking | LogIn</title>
    <link rel="stylesheet" type="text/css" href="{% static 'password-reset-style.css' %}">
</head>
<body>

    <div class="login">
        <a href="https://www.hsbc.com/"><img class="logo" src={% static 'DATA/HSBC-logo.png' %} alt="HSBC logo"></a>    
        <h1>Password reset</h1>
        <form method="post">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter your email">

            <input type="submit" value="Submit">
            <a href={% url 'login' %}>Back to log in</a><br>
        </form>
    </div>

</body>
</html>