<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'DATA/HSBC-logo.png' %}">
    <title>Online Banking | Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bank-style.css' %}">
</head>
<header>
    <div class="header">
    <img class="logo" src={% static 'DATA/HSBC-logo.png' %} alt="HSBC logo">    
    <h1>HSBC</h1>
    <a href={% url 'change-password' %}><img class="logo-config" src={% static 'DATA/config.png' %} alt="config"></a>
    <a href={% url 'logout' %}><img class="logo-logout" src={% static 'DATA/logout.png' %} alt="HSBC logo"></a>
    </div>
</header>
<body>
    <div class="account">
        <p>Welcome, {{ user.get_short_name }}. Thanks for logging in.</p>
        <p>Su dinero disponible es : {{balance}}</p>
    </div>
    <a href={% url 'transfer' %}>
    <div class="button">
        <img class="button" src={% static 'DATA/icon-transfer.png' %} alt="transfer money">
        <p class="button">Transfer</p>
    </div>
    </a>
    <a href="{% url 'customer-support' %}">
    <div class="button">
        <img class="button" src={% static 'DATA/icon-support.png' %} alt="customer service">
        <p class="button">Customer service</p>
    </a>
    </div>
</body>
</html>